* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans',Arial,Helvetica,sans-serif;
}
body{
  background-color: #000000;
}

.header {
  background-attachment: fixed;
}

.portada {
  background: url(/Img/sin.jpg);
  height: 27rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.wave {
  position: relative;

  width: 100%;
  bottom: 0;
  height: 600px;
  top: 282px;
}

/* MAIN----------------------- */
@media (max-width: 1992px) {
  .titulo__index {
    color: #81b5d6;
    text-align: center;
  }
  .titulo__index h2 {
    margin-top: 55px;
    color: #ffffff;
  }
  .titulo__index p {
    font-size: 45px;
  }
  .subfooter {
    width: 100%;
    
  }
  .portada {
    width: 100%;
  }
  .portada .img__index {
    width: 400px;
  }
  .portada .img__index img {
    width: 200px;
  }
  .parrafos_centrados {
    text-align: center;
    font-size: 1rem;
    padding: 54px;
    color: #606060;
  }
  .separator {
    line-height: .5;
    margin: 30px 0;
  }
}

@media (max-width: 375px) {
  .portada {
    background-attachment: fixed;
    height: 400px;
  }
  .wave {
    top: 252px;
  }
  .parrafos_centrados {
    color: #606060;
    font-size: 1.3rem;
    padding: 4px;
  }
  .img__index img {
    width: 200px;
  }
}
/*Footeer ----------------------------------------------------------------------------- */
.Contactame_titulo{
  font-size: 30px;
  color: #81b5d6;
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  
  background-color: black;
  color: white;
  background: #485563;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#29323c), to(#485563));
  background: linear-gradient(to right, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 412px) {
  .icon__footer {
    font-size: 30px;
  }
}
.subfooter {
  width: 100%;
 
}

.numero__index {
  background-color: black;
  color: white;
  width: 100%;
}

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
  max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
  position: relative;
  display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  text-align: center;
}
.portfolio-box-caption{
  color: #000000;
  background-color: black;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio 
.container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md 
.portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box 
.portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption 
.project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name,
 #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio 
 .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg 
 .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box 
 .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption 
 .project-name {
  font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption,
 #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio 
 .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg 
 .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover
  .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category,
 #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio 
 .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg
  .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box
  .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption 
  .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", 
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
   "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption 
.project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption 
.project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption 
.project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption 
.project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption 
.project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
  max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
  position: relative;
  display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(2, 2, 2, 0.89);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  text-align: center;
}
.vc_custom_1539444075635{
  background: url(/Img/aire1.jpg);
  height: 27rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.text__clientes{
  
  font-size: 25px;
  text-align: center;
  color: #ffff;
  padding: 15px;
 
}
.card__aire{
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
  
  
  
  
}
/*# sourceMappingURL=style.css.map */