.header{
    background-attachment: fixed;
}
.portada{
  background: url(../Img/Servicio-técnico-Corberó-Fuerteventura.jpg);  
  height: 27rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
.wave{
    position: relative;
    width: 100%;
    bottom: 0;
    height: 600px;
    top: 282px;
}
/* MAIN----------------------- */
.titulo__index{
    margin-top: 20px;
    color: #81b5d6;
    text-align: center;
    h2{
        margin-top: 20px;
        color: black;
    }
    p{
        margin-top: 20px;
        font-size: 45px;
    }
}
.subfooter{
    width: 100%;
}
@media (max-width:992px) {
 .portada{
  
  width: 100%;
  
}
}
@media (max-width:575px){
    .portada{
        background-attachment: fixed;
        height: 400px;
    }
    .wave{
        top: 252px;
    }
}
