
.portada{
  background: url(../Img/Servicio-técnico-Corberó-Fuerteventura.jpg);  
  height: 27rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}


@media (max-width:992px) {
 .portada{
  
  background-size: contain;
  
}
}
@media (max-width:567px){
    .portada{
        height: 60vh;
    }
}
