.header{
    background-attachment: fixed;
}

.portada{
  background: url(/Img/sin.jpg);  
  height: 27rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
.wave{
    position: relative;
    width: 100%;
    bottom: 0;
    height: 600px;
    top: 282px;
}
/* MAIN----------------------- */

@media (max-width:1492px) {
   
    .titulo__index{
        
        color: #81b5d6;
        text-align: center;
        h2{
            margin-top: 55px;
            color: black;
        }
        p{
            
            font-size: 45px;
            
        }
    }
    .subfooter{
        width: 100%;
    }
    .portada{
  
  width: 100%;
  
  .img__index{
   width: 400px;
   
    img{
        width: 200px;
        
    }
}
}
.parrafos_centrados{
    text-align: center;
    font-size: 1rem;
    padding: 54px;
    color: #606060;
    
}
.separator {
    line-height: .5;
    margin: 30px 0;
}
}
@media (max-width:575px){
    .portada{
        background-attachment: fixed;
        height: 400px;
    }
    .wave{
        top: 252px;
    }
    .parrafos_centrados{
        color: #606060;
        font-size: 1.3rem;
        padding: 4px;
    }
    .img__index{
        
        img{
            width: 200px;
        }
    }
}

