*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans',Arial,Helvetica,sans-serif;
}

@import "_index.scss";
@import "_footer.scss";


    .numero__index{
    background-color: black;
    color: white;
    width: 100%;
}


